:root{
    --Light-red: hsl(0, 100%, 97%);
    --Orangey-yellow: hsl(39, 100%, 95%);
    --Green-teal: hsl(166, 100%, 95%);
    --Cobalt-blue: hsl(234, 85%, 95%);
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

body{
    background-color: hsl(0, 0%, 100%);
    min-width: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.card {
    display: grid;
    border-radius: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 10px 10px 25px 10px hsl(221, 100%, 96%);
    }

.card1 {
    grid-template-columns: 1 2;
    background:linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));
    border-radius: 1.5rem;
}


.card1 h3{
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    color: hsl(241, 100%, 89%);
}
.card1 .porcentaje {
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), rgba(0, 0, 0, .0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin-top: 2rem;
    margin-left: 25%;
}
.card1 .porcentaje span{
    font-size: 3rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);

}
.card1 .porcentaje p {
    color:  hsl(241, 100%, 89%);
    opacity: 0.4;
    font-size: 0.8rem;
}
.card1 h2{
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 2rem;
}
.card1 p.footer{
    font-size: .95rem;
    text-align: center;
    color:   hsl(241, 100%, 89%);
    padding: 1rem 2rem 2rem 2rem;
}
.card2 {
    background-color: hsl(0, 0%, 100%);
    border-radius:1.5rem ;
}
.card2 h2 {
    font-weight: 700;
    margin: 2rem;
    text-align: start;
}

.lista-porcentaje {
    margin:1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
}
.categoria {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    border-radius: .5rem;
    
}
.categoria .texto{
    font-weight: 700;
    margin-left: -2rem;
}
.categoria .texto p{
    font-size: .8rem;
}
.categoria .icono {
    width: 1rem;
    height: 1rem;
    padding-left: -2rem;
    
}
.categoria .porciento p {
   color: rgb(124, 123, 123);
}
.categoria .porciento span{
    font-weight: 700;
    color: rgb(62, 62, 62);
}
.reaction {
    background-color: var(--Light-red); 
    color: hsl(0, 30%, 67%);
}

.memory {
    background-color: var(--Orangey-yellow);
    color: hsl(39, 100%, 56%);
}

.verbal{
    background-color: var(--Green-teal);
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: var(--Cobalt-blue);
    color: hsl(234, 85%, 45%);
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    background-color: hsl(224, 30%, 27%);
    margin: 2rem;
    border-radius: 1.5rem;
    color: hsl(0, 0%, 85%);
    
}
.btn label {
    font-size: .8rem;
    font-weight: 700;
}
.btn:hover{
background: linear-gradient( 252, 100%, 67%,  241, 81%, 54%);
}
@media (max-width: 375px) {
    body{
        display: inline-block;
        width: 100%;
       

    }
    .card{
        display: inline;
        align-items: center;
    }
    .card1{
        border-radius: 0 0 1rem 1rem ;
     }
    .card1 h3{
        margin: 0;
        padding-top: 2rem;

    }
    .card1 .porcentaje {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}